@mixin breakpoint($value) {
  $str: breakpoint($value);
  $bp: index($-uk-breakpoints-keys, $value);
  $pbp: index($-uk-breakpoints-keys, $print-breakpoint);

  $old-uk-size: null;

  // Make breakpoint size available as a variable
  @if global-variable-exists(-uk-size) {
    $old-uk-size: $-uk-size;
  }
  $-uk-size: nth($value, 1) !global; // get the first value to account for `only` and `down` keywords

  // If $str is still an empty string, no media query is needed
  @if $str == '' {
    @content;
  }

    // Otherwise, wrap the content in a media query
  @else {
    // For named breakpoints less than or equal to $print-breakpoint, add print to the media types
    @if $bp != null and $bp <= $pbp {
      @media print, screen and #{$str} {
        @content;
      }
    }
    @else {
      @media screen and #{$str} {
        @content;
      }
    }
  }

  @if $old-uk-size != null {
    // Restore the old breakpoint size
    $-uk-size: $old-uk-size !global;
  } @else {
    $-uk-size: null !global;
  }
}

@import '../components/buttons';
@import '../components/forms';
@import '../components/images';
@import '../components/type';
@import '../components/wp-classes';
@import '../components/hero';
@import '../components/content_box';
@import '../components/background_slider';
@import '../components/gallery';
@import '../components/testimonials';
@import '../components/cover_image';
@import '../components/overlay_image';
@import '../components/frosted_overlay';
@import '../components/contact_us';
@import '../components/masonry_gallery';
@import '../components/facebook';
