body.options-media-php #wpbody-content form {
  display: none;
}

body.options-media-php #wpbody-content .wrap::after {
  content: 'The image sizes are set in /wp-content/themes/spark/app/theme/setup.php to define them statically and base the <img> srcset & sizes attributes off of.';
  display: block;
  font-size: 16px;
  max-width: 560px;
  margin-top: 1.25rem;
  padding: 1rem;
  line-height: 1.7;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 1px 6px #BBB;
}

@media screen and (max-width: 1260px) {
  .acf-fields .acf-field {
    width: 100% !important;
  }
}

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAid3AtY29udGVudC90aGVtZXMvc3BhcmsvcHVibGljL2Nzcy9hZG1pbi5jc3MiLAoJInNvdXJjZXMiOiBbCgkJIndwLWNvbnRlbnQvdGhlbWVzL3NwYXJrL3Jlc291cmNlcy9zY3NzL2FkbWluL2FkbWluLnNjc3MiCgldLAoJIm5hbWVzIjogW10sCgkibWFwcGluZ3MiOiAiQUFLQSxBQUNFLElBREUsQUFBQSxrQkFBa0IsQ0FBQyxlQUFlLENBQ3BDLElBQUksQ0FBQztFQUFFLE9BQU8sRUFBRSxJQUFLO0NBQUU7O0FBRHpCLEFBR0UsSUFIRSxBQUFBLGtCQUFrQixDQUFDLGVBQWUsQ0FHcEMsS0FBSyxBQUFBLE9BQU8sQ0FBQztFQUNYLE9BQU8sRUFBRSx3SkFBd0o7RUFDakssT0FBTyxFQUFFLEtBQUs7RUFDZCxTQUFTLEVBQUUsSUFBSTtFQUNmLFNBQVMsRUFBRSxLQUFLO0VBQ2hCLFVBQVUsRUFBRSxPQUFPO0VBQ25CLE9BQU8sRUFBRSxJQUFJO0VBQ2IsV0FBVyxFQUFFLEdBQUc7RUFDaEIsVUFBVSxFQUFFLEtBQUs7RUFDakIsYUFBYSxFQUFFLEdBQUc7RUFDbEIsVUFBVSxFQUFFLGdCQUFnQjtDQUM3Qjs7QUFXQyxNQUFNLENBQUMsTUFBTSxNQUFNLFNBQVMsRUFBRSxNQUFNO0VBRnhDLEFBQ0UsV0FEUyxDQUNULFVBQVUsQ0FBQztJQUMrQixLQUFLLEVBQUUsZUFBZ0I7R0FDaEUiCn0= */