
.layout-background_slider .background-slider {

  width: 100%;

  .featured-switch {
    li img {
      width: 100%;
    }
    &.background-images {
      li {

        &:after {
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%);
          content: '';
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }
    }
  }


  .background-slider-content {


    @include breakpoint(medium down) {
      animation: none !important;
      opacity: 1;
      visibility: visible !important;
    }

    margin-right: 50px;
    margin-top: -50px;
    z-index: 998;
    position: absolute;
    right: 0;
    top: 0;

    @include breakpoint(large down) {
      position: static;
      width: 100%;
      left: 0;
      right: 0;
      margin: 0;
    }

    ul.uk-nav {


      @include breakpoint(large down) {
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      @include breakpoint(large) {
        margin-top: 20px;
        margin-bottom: -10px;

        .page-about-data & {
          column-count: 2;
        }
      }
      @include breakpoint(xlarge) {
        margin-top: 40px;

        .page-about-data & {
          margin-top: 20px;
        }
      }


      li {

        display: inline-block;
        margin: 0 10px;
        position: relative;
        z-index: 9;

        @include breakpoint(xlarge) {
          display: block;
          margin: 0 0px;
        }

        a {


          @include breakpoint(medium) {
            font-size: 16px;
            margin: 0 10px;
          }


          @include breakpoint(large) {
            font-size: 18px;
            margin: 0 15px;
          }


          @include breakpoint(xlarge) {
            font-size: 22px;
          }

          @media screen and (min-width: 1350px) {
            font-size: 30px;
          }

          font-weight: 300;
          text-transform: uppercase;
          position: relative;
          z-index: 998;

          span.uk-icon {

            display: none;

            //left: 0;
            //justify-content: center;
            //top: 100%;
            //bottom: auto;

            z-index: 998;
            right: 0;
            margin: auto;
            text-align: center;

            position: absolute;
            vertical-align: middle;
            align-items: center;
            opacity: 0;
            transition: .22s ease;

            justify-content: flex-start;
            top: 0;
            bottom: 0;
            margin: auto;
            left: -70px;

            @include breakpoint(xlarge) {

              display: flex;
            }


            svg {
              transform: rotate(-90deg);
              @include breakpoint(xlarge) {
                transform: rotate(0deg);
              }
            }

          }
        }
      }

      .uk-active a {
        font-weight: 900;

        span.uk-icon {

          @include breakpoint(large) {
            opacity: 1;
          }
        }
      }
    }


    ul.background-switcher {

      display: none;

      @include breakpoint(xlarge) {
        display: flex;
      }

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      //background: #000;
      z-index: -1;
      overflow: hidden;

      li {
        min-width: calc(100% + 50px);
        margin-left: -25px;
        margin-top: -25px;
        height: calc(100% + 50px);
        background-size: calc(100vw - 16px);
        background-position: calc(100% + 25px) calc(0% + 75px);
        background-repeat: no-repeat;
        filter: blur(5px);
        background-blend-mode: overlay;

        &:after {
          content: '';
          background: linear-gradient(180deg, #C44A37 0%, rgba(168, 23, 0, 0.5) 100%);
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }
    }

  }

  .contact-after {
    @include breakpoint(medium down) {
      position: static !important;
      p {
        color: #000;
      }
    }
  }

  .content-header {
    text-align: center;
    @include breakpoint(xlarge) {

      text-align: left;
    }
  }
}
