.layout-gallery.uk-section.uk-section-large {

  @include breakpoint(large down) {
    padding-top: 80px;
    padding-bottom: 0px;
  }

}

ul.uk-slider-items iframe {
  width: 100%;
  height: 100%;
}
.arrow-cursor__icon_center.video {
  transform:scale(0) !important;
}

.ft-slider {
  .ft-next,
  .ft-prev,
  .slide-item,
  .slide-item * {
    //cursor: none;
  }

  .ft-prev, .ft-next {
    z-index: 998;
  }
}

.masonry-cursor,
.arrow-cursor {
  width: 150px;
  height: 110px;
  position: fixed;
  left: -75px;
  top: -55px;
  z-index: 10000000;
  pointer-events: none;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  * {
    position: absolute;
    //stroke: #fff !important;
  }
}

.ft-masonry {

  padding-bottom: 150px;
  //cursor: none;
  max-width: 2000px;
  margin: 0 auto;

  .gallery-item {
    display: flex;
    align-content: center;
    justify-content: center;
    width: calc(100% / 2);
    background: #eee;
    padding: 2px;
    box-sizing: border-box;

    @include breakpoint(small) {
      width: calc(100% / 3);
    }
    @include breakpoint(medium) {

      width: calc(100% / 4);
    }
    @include breakpoint(large) {
      width: calc(100% / 5);
    }

    @include breakpoint(xlarge) {
      width: calc(100% / 6);
    }


    a {
      width: 100% !important;
    }
    &,
    * {
      //cursor: none;
    }
  }
}


.uk-offcanvas-bar {
  opacity: 1;
}

a.uk-navbar-toggle.uk-position-top-right.uk-navbar-toggle-icon.uk-icon {
  z-index: 99;
  background: rgba( 255, 255, 255, .85);
  border-radius: 50%;
  min-height: 50px;

  &:hover {
    background: rgba( 255, 255, 255, 1);
  }
}

nav#offcanvas-nav ul.uk-nav-parent-icon > li.menu-item > span a {
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 2rem;
}

nav#offcanvas-nav ul.uk-nav-parent-icon > li.menu-item + li.menu-item > span {
  border-top: 2px groove rgba(100, 100, 100, 0.5);
  margin-top: 4px;
}
