.layout-gallery.uk-section.uk-section-large {

  @include breakpoint(large down) {
    padding-top: 80px;
    padding-bottom: 0px;
  }

}

ul.uk-slider-items iframe {
  width: 100%;
  height: 100%;
}
.arrow-cursor__icon_center.video {
  transform:scale(0) !important;
}

.ft-slider {
  .ft-next,
  .ft-prev,
  .slide-item,
  .slide-item * {
    cursor: none;
  }

  .ft-prev, .ft-next {
    z-index: 998;
  }
}

.masonry-cursor,
.arrow-cursor {
  width: 150px;
  height: 110px;
  position: fixed;
  left: -75px;
  top: -55px;
  z-index: 10000000;
  pointer-events: none;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  * {
    position: absolute;
    //stroke: #fff !important;
  }
}

.ft-masonry {

  padding-bottom: 150px;
  cursor: none;
  max-width: 2000px;
  margin: 0 auto;

  .gallery-item {
    display: flex;
    align-content: center;
    justify-content: center;
    width: calc(100% / 3);
    background: #eee;
    box-shadow: inset 0 0 2px #fff;

    @include breakpoint(large) {
      width: calc(100% / 5);
    }
    a {
      width: 100% !important;
    }
    &,
    * {
      cursor: none;
    }
  }
}
