.testimonials-wrapper {
  .uk-padding{
    @include breakpoint(medium down) {
      padding: 0;
    }
  }
}
.testimonial-slide {
  .testimonial {
    //font-size: $global-medium-font-size;
    //line-height: 26px;
  }

  p {
    color: #462800;
  }
}

.uk-dotnav {
  > .uk-active > *,
  > * > :hover,
  > * > :focus {
    background-color: rgba($global-primary-background, 0.9);
    outline: none;
    border-color: transparent;
  }

  > * > * {

    width: 14px;
    height: 14px;
    border-width: 2px;
  }
}
